@{
	Page.Title = "Home Page";
}

@section Header {
    <h2>Home</h2>
    <a href="@Url.Action("About")" class="ui-btn-right" data-icon="info">About</a>
}

<h2>jQuery Mobile</h2>

<p>TODO: Get your jiggy on</p>